$bold: 600;
$medium: 400;

$text-dark: #403F3D;
$text-light: #E1D4C9;
$text-accent: #B0907A;


$background-body: #E1D4C9;
$background-container: #665F55;
$background-backdrop: #403F3DCC;


$size-medium: 1rem;
$size-uppermid: 1.5rem;
$size-prehuge: 2rem;
$size-huge: 3.75rem;
$size-giga: 4.5rem;


$line-medium: 1.5rem;
$line-uppermid: 1.9rem;
$line-prehuge: 2.5rem;
$line-giga: 4.7rem;